* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    /* font-family: 'LaCebadita'; */
}

@font-face {
    font-family: 'LaCebadita';
    src: url('../src/assets/font/La Cebadita.otf');
}